body{
  background-image: url("../images/space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  position: relative;
  width: 100%;
  height: 100%;
}
/*
.animal-map {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}*/

.test-image {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

#title {
  font-size: 8em;
  font-family: sans-serif;
  line-height: 80px;
  color: #ffffff;
  width:100%;
  text-align: center;
  position: relative;
}

.map{
  position: relative;
  border-radius: 500px;
  /*display: block;
  margin-left: auto;
  margin-right: auto;*/
  top: -50px;
}

.animal-pic {
  height: 100px;
  width: 100px;
  position: absolute;
}

#antelope {
  /*margin: 0 0 0 -50px;*/
  display: inline;
  margin: 0 0 0 0px;
  height: 100%;
  width: auto;
  position: absolute;
  left: 950px;
  bottom: 500px;
  border: 3px solid #fff;
}

.antelope-desc{
  position: absolute;
  bottom: 200px;
  left:675px;
  background-color:rgba(255,255,255,0.8);
  width:250px;
  font-family: sans-serif;
  padding: 10px;
  z-index: 1;
  display: none;
}

#antelope:hover + .antelope-desc {
  display: inline;
}

#jerboa {
  display: inline;
  margin: 0 0 0 0px;
  height: 100%;
  width: auto;
  position: absolute;
  left: 1450px;
  bottom: 375px;
  border: 3px solid #fff;
}

.jerboa-desc{
  position: absolute;
  bottom: 485px;
  left: 1350px;
  background-color:rgba(255,255,255,0.8);
  width:250px;
  font-family: sans-serif;
  padding: 10px;
  z-index: 1;
  display: none;
}

#jerboa:hover + .jerboa-desc {
  display: inline;
}

#grey-wolf {
  display: inline;
  margin: 0 0 0 0px;
  height: 100%;
  width: auto;
  position: absolute;
  left: 260px;
  bottom: 825px;
  border: 3px solid #fff;
}

.grey-wolf-desc{
  position: absolute;
  bottom: 600px;
  left: 425px;
  background-color:rgba(255,255,255,0.8);
  width:250px;
  font-family: sans-serif;
  padding: 10px;
  z-index: 1;
  display: none;
}

#grey-wolf:hover + .grey-wolf-desc {
  display: inline;
}

#harpy-eagle {
  display: inline;
  margin: 0 0 0 0px;
  height: 100%;
  width: auto;
  position: absolute;
  left: 375px;
  bottom: 360px;
  border: 3px solid #fff;
}

.harpy-eagle-desc{
  position: absolute;
  bottom: 320px;
  left: 540px;
  background-color:rgba(255,255,255,0.8);
  width:250px;
  font-family: sans-serif;
  padding: 10px;
  z-index: 1;
  display: none;
}

#harpy-eagle:hover + .harpy-eagle-desc {
  display: inline;
}

#hoary-bat {
  display: inline;
  margin: 0 0 0 0px;
  height: 100%;
  width: auto;
  position: absolute;
  left: 100px;
  bottom: 765px;
  border: 3px solid #fff;
}

.hoary-bat-desc{
  position: absolute;
  bottom: 440px;
  left: 100px;
  background-color:rgba(255,255,255,0.8);
  width:250px;
  font-family: sans-serif;
  padding: 10px;
  z-index: 1;
  display: none;
}

#hoary-bat:hover + .hoary-bat-desc {
  display: inline;
}

#markhor {
  display: inline;
  margin: 0 0 0 0px;
  height: 100%;
  width: auto;
  position: absolute;
  left: 1000px;
  bottom: 850px;
  border: 3px solid #fff;
}

.markhor-desc{
  position: absolute;
  bottom: 325px;
  left:1000px;
  background-color:rgba(255,255,255,0.8);
  width:250px;
  font-family: sans-serif;
  padding: 10px;
  z-index: 1;
  display: none;
}

#markhor:hover + .markhor-desc {
  display: inline;
}

#monk-seal {
  display: inline;
  margin: 0 0 0 0px;
  height: 100%;
  width: auto;
  position: absolute;
  left: 810px;
  bottom: 800px;
  border: 3px solid #fff;
}

.monk-seal-desc{
  position: absolute;
  bottom: 525px;
  left: 523px;
  background-color:rgba(255,255,255,0.8);
  width:250px;
  font-family: sans-serif;
  padding: 10px;
  z-index: 1;
  display: none;
}

#monk-seal:hover + .monk-seal-desc {
  display: inline;
}

#margay {
  display: inline;
  margin: 0 0 0 0px;
  height: 100%;
  width: auto;
  position: absolute;
  left: 300px;
  bottom: 620px;
  border: 3px solid #fff;
}

.margay-desc{
  position: absolute;
  bottom: 475px;
  left: 443px;
  background-color:rgba(255,255,255,0.8);
  width:250px;
  font-family: sans-serif;
  padding: 10px;
  z-index: 1;
  display: none;
}

#margay:hover + .margay-desc {
  display: inline;
}

#river-dolphin {
  display: inline;
  margin: 0 0 0 0px;
  height: 100%;
  width: auto;
  position: absolute;
  left: 1190px;
  bottom: 770px;
  border: 3px solid #fff;
}

.river-dolphin-desc{
  position: absolute;
  bottom: 427px;
  left: 1140px;
  background-color:rgba(255,255,255,0.8);
  width:250px;
  font-family: sans-serif;
  padding: 10px;
  z-index: 1;
  display: none;
}

#river-dolphin:hover + .river-dolphin-desc {
  display: inline;
}

#sperm-whale {
  display: inline;
  margin: 0 0 0 0px;
  height: 100%;
  width: auto;
  position: absolute;
  left: 1000px;
  bottom: 220px;
  border: 3px solid #fff;
}

.sperm-whale-desc{
  position: absolute;
  bottom: 180px;
  left: 725px;
  background-color:rgba(255,255,255,0.8);
  width:250px;
  font-family: sans-serif;
  padding: 10px;
  z-index: 1;
  display: none;
}

#sperm-whale:hover + .sperm-whale-desc {
  display: inline;
}
